*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  width: 100%;
  max-width: 1440px;
  height:670px;
  background: pink;
  display: flex;
  margin: 50px 0 0 50px;
}

.waterboss {
  position: relative;
  height: 100%;
  width: 360px;
  display: flex;
  align-items:center;
  background: #164cb5;
}
.waterboss__about {
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: flex;
  flex-direction: column;
}
.waterboss__name {
  color: white;
  font-family: Proxima Nova Rg;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
.waterboss__price {
  font-family: Proxima Nova Rg;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  font-weight: normal;
  margin-bottom: 0;
}
.waterboss__leader {
  color: #99ccff;
  position:absolute;
  font-family: Proxima Nova Rg;
  right: 2px;
  top: 20%;
  writing-mode: tb-rl;
  transform:rotate(180deg);
  font-size:60px;
}
.waterboss__photo {
  width: 360px;
  height: 335px;
  display: flex;
  align-items: center;
}


.parent_2 {
  display: flex;
  flex-wrap: wrap;
}

.tableted_salt {
  position: relative;
  height: 335px;
  width: 360px;
  background: white;
  display: flex;
  align-items:center;
  justify-content: center;
}
.tableted_salt__wrap{
  width: 360px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableted_salt__photo{
  width: 168px;
  height: 168px;
}
.tableted_salt__about {
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: flex;
  flex-direction: column;
}
.tableted_salt__name {
  color: #28293c;
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
.tableted_salt__price {
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #28293c;
  font-weight: normal;
  margin-bottom: 0;
}

.A_800 {
  position: relative;
  height: 335px;
  width: 360px;
  background: #f1f6ff;
  display: flex;
  align-items:center;
  justify-content: center;
}
.A_800__wrap{
  width: 360px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.A_800__photo{
  width: 168px;
  height: 168px;
}
.A_800__about {
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: flex;
  flex-direction: column;
}
.A_800__name {
  color: #28293c;
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
.A_800__price {
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #28293c;
  font-weight: normal;
  margin-bottom: 0;
}

.trio_norm {
  height: 335px;
  width: 360px;
  background: #164cb5;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
}
.trio_norm__wrap{
  width: 360px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trio_norm__photo{
  width: 168px;
  height: 168px;
}
.trio_norm__abaut {
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: flex;
  flex-direction: column;
}
.trio_norm__name {
  font-family: Proxima Nova Rg;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
.trio_norm__price{
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: white;
  font-weight: normal;
  margin-bottom: 0;
}

.crystal {
  height: 335px;
  width: 360px;
  background: #f1f6ff;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
}
.crystal__wrap{
  width: 360px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crystal__photo{
  width: 168px;
  height: 168px;
}
.crystal__abaut {
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: flex;
  flex-direction: column;
}
.crystal__name {
  color: #28293c;
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
.crystal__prise{
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #28293c;
  font-weight: normal;
  margin-bottom: 0;
}

.DWM_101S {
  height: 335px;
  width: 720px;
  background: #ec8928;
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
}
.DWM_101S__wrap {
  width: 720px;
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.DWM_101S__photo{
  width: 168px;
  height: 168px;
}
.DWM_101S__abaut{
  position: absolute;
  bottom: 25px;
  left: 30px;
  display: flex;
  flex-direction: column;
}
.DWM_101S__name {
  color: #ffffff;
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 0;
}
.DWM_101S__price {
  font-family: Proxima Nova Rg;
  font-size: 17px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  font-weight: normal;
  margin-bottom: 0;
}
